<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="p-5 bg-primary text-white text-center">
  <h1>Mano svetainė</h1>
  <p>Mano nukopijuota svetainė, sukurta naudojant Flask ir Bootstrap!</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sveikaspasauli/">Sveikas pasauli</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/skaiciavimai/">Skaičiavimai</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/zmones/">Žmonės</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login/">Prisijungimas</a>
      </li>
    </ul>
  </div>
</nav>

    <div class="col-sm-8">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>© 2023 Raudonė </p>
</div>

</body>
</html>
